# Dependencies
node_modules/

# Build output
dist/
.next/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

output/

test-dir/
repo/
tree-sitters
# codelens local index
.codelens/
